{% extends 'front/index.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block pageContent %}
        <div class="container">
            {% if pageMessage and pageTitle %}
                <h2 class="text-center mt-5">
                    {{ pageMessage|upper }}
                    {{ pageTitle|upper }}!
                </h2>
            {% endif %}
            {% if posts %}
                <ul class="posts">
                    {% for post in posts %}
                    <li style="list-style: none; border-bottom: 1px solid black; margin-bottom: 20px">
                        <h3>
                            {{ post.title }}
                        </h3>
                        <p>
                            {{ post.body }}
                        </p>
                        <time datetime="{{ post.post_date }}">
                            {{ post.post_date }}
                        </time>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
