{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    {% block header %}
        <header class="site-header">
            <div class="container">
                {% if pageTitle %}
                    <h1 class="text-center">{{ pageTitle }}</h1>
                {% endif %}
            </div>
        </header>
    {% endblock %}
    {% block pageContent %}
        <div class="container">
            {% if pageMessage and pageTitle %}
                <h2 class="text-center mt-5">
                    {{ pageMessage }}
                    {{ pageTitle }}!
                </h2>
            {% endif %}
        </div>
    {% endblock %}
    {% block footer %}
        <footer class="site-footer" style="padding: 150px 0">
            <div class="container">
                <div class="row text-center">
                    {% if copyrightText %}
                        <div class="col-md-4 copyright">
                            <span>
                                {{ copyrightText }}
                                {{ "now"|date('Y') }}
                            </span>
                        </div>
                    {% endif %}
                    {% if authorName %}
                        <div class="col-md-4 author-name">
                            <span>{{ authorName }}</span>
                        </div>
                    {% endif %}
                    {% if ghText %}
                        <div class="col-md-4 some-text">
                            <span>{{ ghText }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </footer>
    {% endblock %}

{% endblock %}
