{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <header class="site-header">
        <div class="container">
            {% block header %}
                {% if pageTitle %}
                    <h1 class="text-center">{{ pageTitle }}</h1>
                {% endif %}
            {% endblock %}
        </div>
    </header>
    <div class="container">
        {% if pageMessage and pageTitle %}
            <h2 class="text-center mt-5">
                {{ pageMessage }}
                {{ pageTitle }}!
            </h2>
        {% endif %}
    </div>
    <footer class="site-footer" style="padding: 150px 0">
        <div class="container">
            <div class="row text-center">
                {% block footer %}
                    {% if copyrightText %}
                        <div class="col-md-4 copyright">
                            <span>
                                {{ copyrightText }}
                                {{ "now"|date('Y') }}
                            </span>
                        </div>
                    {% endif %}
                    {% if authorName %}
                        <div class="col-md-4 author-name">
                            <span>{{ authorName }}</span>
                        </div>
                    {% endif %}
                    {% if ghText %}
                        <div class="col-md-4 some-text">
                            <span>{{ ghText }}</span>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </footer>

{% endblock %}
